<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>

    <section>
        <h2>Main Features</h2>
        <ul>
            <li><a href="{% url 'add_product' %}">Add Product</a> - Add products to the inventory with details such as name, description, category, price, and quantity.</li>
            <li><a href="{% url 'view_inventory' %}">View Inventory</a> - Track stock levels for each product.</li>
            <li><a href="{% url 'record_sale' %}">Record Sale</a> - Record sales transactions including the products sold, quantity, and total price.</li>
            <li><a href="{% url 'add_customerID' %}">Customer ID</a> - Search for customer orders.</li>
        </ul>
    </section>
    
<h1>Add Products</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <label for="product_name">Product Name:</label><br>
    <input type="text" id="product_name" name="product_name"><br>
    <label for="product_quantity">Quantity:</label><br>
    <input type="number" id="product_quantity" name="product_quantity"><br>
    <label for="product_price">Price:</label><br>
    <input type="number" id="product_price" name="product_price"><br><br>  
    <input type="submit" value="Add Product">
</form>


{% if product %}
    <h2>Product Details</h2>
    <p>Product Name: {{ product.name }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Price: {{ product.price }}</p>
{% endif %}

</body>
</html>
