<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
</head>
<body>

    <section>
        <h2>Main Features</h2>
        <ul>
            <li><a href="{% url 'base' %}">Home</a></li>
            <li><a href="{% url 'add_products' %}">Add Products</a> - Add products to the inventory with details such as name, description, category, price, and quantity.</li>
            <li><a href="{% url 'view_inventory' %}">View Inventory</a> - Track stock levels for each product.</li>
            <li><a href="{% url 'record_sale' %}">Record Sale</a> - Record sales transactions including the products sold, quantity, and total price.</li>
            <li><a href="{% url 'customer' %}">Search Customer</a> - Search for customer orders.</li>
        </ul>
    </section>

<h1>Search Customer</h1>


<form action="{% url 'customer' %}" method="post">
        {% csrf_token %}
        {{ form }}
   <label for="customerFname">First Name*:</label><br>
   <input type="text" id="customerFname" name="customerFname" value = "{{customerFname}}" required><br>
   <label for="customerLname">Last Name*:</label><br>
   <input type="text" id="customerLname" name="customerLname" value = "{{customerLname}}"required><br>
   <label for="customerAddress">Address:</label><br>
   <input type="text" id="customerAddress" name="customerAddress" value = "{{customerAddress}}"><br><br>  
   <label for="customerNumber">Phone Number:  </label>
   <input type="number" id="customerNumber" name="customerNumber" value = "{{customerNumber}}"><br>
   <input type= "submit" value="Search Customer">
</form>