<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
</head>
<body>

<div class="container">
    <header>
        <h1>Welcome to Clothing For All Inventory Management</h1>
        <p>This system helps you manage your inventory efficiently.</p>
    </header>

    <section>
        <h2>Main Features</h2>
        <li><a href="{% url 'base' %}">Home</a></li>
        <li><a href="{% url 'add_products' %}">Add Products</a> - Add products to the inventory with details such as name, description, category, price, and quantity.</li>
        <li><a href="{% url 'view_inventory' %}">View Inventory</a> - Track stock levels for each product.</li>
        <li><a href="{% url 'record_sale' %}">Record Sale</a> - Record sales transactions including the products sold, quantity, and total price.</li>
        <li><a href="{% url 'customer' %}">Search Customer</a> - Search for customer orders.</li>
        </ul>
    </section>
</div>

<h1>Search Customer</h1>


<body>
    <h1>Customers</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>