<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Sales</title>
</head>
<body>

<div class="container">
    <header>
        <h1>Welcome to Clothing For All Inventory Management</h1>
        <p>This system helps you manage your inventory efficiently.</p>
    </header>

    <section>
        <h2>Main Features</h2>
        <li><a href="{% url 'base' %}">Home</a></li>
        <li><a href="{% url 'add_products' %}">Add Products</a> - Add products to the inventory with details such as name, description, category, price, and quantity.</li>
        <li><a href="{% url 'view_inventory' %}">View Inventory</a> - Track stock levels for each product.</li>
        <li><a href="{% url 'record_sale' %}">Record Sale</a> - Record sales transactions including the products sold, quantity, and total price.</li>
        <li><a href="{% url 'customer' %}">Search Customer</a> - Search for customer orders.</li>
        </ul>
    </section>
</div>

<h1>Record Sales</h1>

<body>
    <h1>Calculate Total Sales</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Calculate</button>
    </form>
</body>
